body {
  margin: 0;
}
.flexbox {
  display: flex;
  flex-direction: column;
}
#heading {
  color: white;
  background-color: black;
  padding: 12px;
}
#navbar {
  display: flex;
  flex-direction: row;
  background-color: #04da04;
  color: white;
  vertical-align: middle;
  flex-wrap: wrap;
}
.navitem {
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.navitem:hover {
  background-color: #aaa9a9;
}
#selected {
  background-color: gray;
}
body {
  background-color: #494949;
  color: #dbdada;
}
main {
  padding: 20px;
}
